[[headers]]
  for = "/*"
  [headers.values]

[[redirects]]
  from = "http://*"
  to = "https://uplift-technologies.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://www.uplift-technologies.com/*"
  to = "https://uplift-technologies.com/:splat"
  status = 301
  force = true

[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public,max-age=31536000,immutable"

[[headers]]
  for = "/index.html"
  [headers.values]
    Cache-Control = "public,max-age=0,must-revalidate"

[[headers]]
  for = "/sitemap.xml"
  [headers.values]
    Cache-Control = "public,max-age=0,must-revalidate"

[[headers]]
  for = "/feed.xml"
  [headers.values]
    Cache-Control = "public,max-age=0,must-revalidate"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
